

.example-card {
    max-width: 400px;
}

.mat-mdc-card-avatar {
    margin-bottom: 0;
}

.mat-badge-content {
    left: 90%;
    top: 80%;
}

:host ::ng-deep .mat-badge-content {
    background-color: var(--badge-color) !important;
}